.#{$prefix}table {
    width: 100%;
    margin-bottom: 1rem;
    color: zeph-color('gray', '900');
    vertical-align: top;
    border-collapse: collapse;

    // Reset styles
    th {
        font-weight: 600;
        text-align: left;
        vertical-align: bottom;
    }

    td,
    th {
        padding: 0.75rem;
        border: 1px solid zeph-color('gray', '300');
    }

    >thead {
        vertical-align: bottom;
    }

    >tbody {
        vertical-align: inherit;
    }

    // Variants
    &-bordered {
        border: 1px solid zeph-color('gray', '300');

        td,
        th {
            border: 1px solid zeph-color('gray', '300');
        }
    }

    &-borderless {
        td,
        th {
            border: 0;
        }
    }

    &-striped {
        >tbody>tr:nth-of-type(odd) {
            background-color: rgba(zeph-color('gray', '100'), 0.5);
        }

        &.dark {
            >tbody>tr:nth-of-type(odd) {
                background-color: rgba(zeph-color('gray', '700'), 0.15);
            }
        }
    }

    &-hover {
        >tbody>tr:hover {
            background-color: zeph-color('gray', '100');
            &.dark {
                background-color: zeph-color('gray', '800');
            }
        }
    }

    // States
    .table-active {
        background-color: rgba(zeph-color('primary'), 0.075);
    }

    .table-success {
        background-color: rgba(zeph-color('success'), 0.075);
    }

    .table-warning {
        background-color: rgba(zeph-color('warning'), 0.075);
    }

    .table-danger {
        background-color: rgba(zeph-color('danger'), 0.075);
    }

    // Alignments
    .text-start {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-end {
        text-align: right;
    }

    .align-top {
        vertical-align: top;
    }

    .align-middle {
        vertical-align: middle;
    }

    .align-bottom {
        vertical-align: bottom;
    }

    // Sizes
    &-sm {
        td,
        th {
            padding: 0.3rem;
        }
    }

    &-lg {
        td,
        th {
            padding: 1rem;
            font-size: 1.25rem;
        }
    }

    // Responsive
    &-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        @each $breakpoint in map-keys($zeph-breakpoints) {
            $next: breakpoint-next($breakpoint, $zeph-breakpoints);

            @include zeph-media-down($next) {
                display: block;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;

                >.#{$prefix}table-bordered {
                    border: 0;
                }
            }
        }
    }

    // Interactive Features
    &-interactive {
        >tbody>tr {
            cursor: pointer;

            &:hover {
                background-color: zeph-color('primary', 'light');
                color: white;

                .icon-hover {
                    visibility: visible;
                }
            }

            .icon-hover {
                visibility: hidden;
                margin-left: 0.5rem;
            }
        }
    }
}

// Responsive Adjustments
@include zeph-media-down('sm') {
    .#{$prefix}table {
        font-size: 0.875rem;

        &-sm {
            td,
            th {
                padding: 0.2rem;
            }
        }
    }
}
