.#{$prefix}tooltip {
    position: absolute;
    z-index: zeph-z('tooltip');
    display: block;
    margin: 0;
    font-family: $zeph-font-family-sans;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    opacity: 0;
    pointer-events: none;

    &.show {
        opacity: 0.9;
    }

    .arrow {
        position: absolute;
        display: block;
        width: 0.8rem;
        height: 0.4rem;

        &::before {
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }

    &-inner {
        max-width: 200px;
        padding: 0.25rem 0.5rem;
        color: white;
        text-align: center;
        background-color: zeph-color('gray', '900');
        border-radius: zeph-radius('sm');
    }

    // Placements
    &[data-popper-placement^="top"] {
        padding: 0.4rem 0;

        .arrow {
            bottom: 0;

            &::before {
                top: 0;
                border-width: 0.4rem 0.4rem 0;
                border-top-color: zeph-color('gray', '900');
            }
        }
    }

    &[data-popper-placement^="right"] {
        padding: 0 0.4rem;

        .arrow {
            left: 0;
            width: 0.4rem;
            height: 0.8rem;

            &::before {
                right: 0;
                border-width: 0.4rem 0.4rem 0.4rem 0;
                border-right-color: zeph-color('gray', '900');
            }
        }
    }

    &[data-popper-placement^="bottom"] {
        padding: 0.4rem 0;

        .arrow {
            top: 0;

            &::before {
                bottom: 0;
                border-width: 0 0.4rem 0.4rem;
                border-bottom-color: zeph-color('gray', '900');
            }
        }
    }

    &[data-popper-placement^="left"] {
        padding: 0 0.4rem;

        .arrow {
            right: 0;
            width: 0.4rem;
            height: 0.8rem;

            &::before {
                left: 0;
                border-width: 0.4rem 0 0.4rem 0.4rem;
                border-left-color: zeph-color('gray', '900');
            }
        }
    }

    // Animations
    &.fade {
        transition: opacity 0.15s linear;
    }

    &.show {
        opacity: 0.9;
    }
}